<div class="our-agencies">
    <div class="container" data-section="agencies">
        <div class="grid-12">
            <div class="col-12">
                <h2>Our agencies</h2>
            </div>
        </div>
        <div class="grid-12">
            <div class="col-12 col-md-6">
                <a href="https://www.tamtam.nl/" target="_blank">
                    <div class="agencies">
                        <div class="agencies__image-container"><img class="agencies__image image--cover" src="/images/agencies/tamtam-1.jpg"></div>
                        <div class="agencies__image-container"><img class="agencies__image agencies__image--secondary image--cover" src="/images/agencies/tamtam-2.jpg"></div>
                        <div class="agencies__inner">
                            <h3 class="agencies__title">Tam Tam</h3>
                            <p class="agencies__category">Digital Craftsmanship</p>
                        </div>
                        <p class="agencies__description">We create awesome digital experiences that make people smile.</p>
                        <p class="agencies__link">tamtam.nl</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="http://afriendofmine.nl/" target="_blank">
                    <div class="agencies">
                        <div class="agencies__image-container"><img class="agencies__image image--cover" src="/images/agencies/afriendofmine-1.jpg"></div>
                        <div class="agencies__image-container"><img class="agencies__image agencies__image--secondary image--cover" src="/images/agencies/afriendofmine-2.jpg"></div>
                        <div class="agencies__inner">
                            <h3 class="agencies__title">a friend of mine</h3>
                            <p class="agencies__category">Campaigns &amp; Social</p>
                        </div>
                        <p class="agencies__description">We’re a fast growing digital agency with a social heart, based in Amsterdam.</p>
                        <p class="agencies__link">afriendofmine.nl</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="http://www.seconddegree.nl/" target="_blank">
                    <div class="agencies">
                        <div class="agencies__image-container"><img class="agencies__image image--cover" src="/images/agencies/seconddegree-1.jpg"></div>
                        <div class="agencies__image-container"><img class="agencies__image agencies__image--secondary image--cover" src="/images/agencies/seconddegree-2.jpg"></div>
                        <div class="agencies__inner">
                            <h3 class="agencies__title">Second Degree</h3>
                            <p class="agencies__category">LinkedIn Marketing</p>
                        </div>
                        <p class="agencies__description">We are the first LinkedIn marketing agency in the world, connecting brands and professionals via B2B marketing.</p>
                        <p class="agencies__link">seconddegree.nl</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="https://www.expandonline.nl/" target="_blank">
                    <div class="agencies">
                        <div class="agencies__image-container"><img class="agencies__image image--cover" src="/images/agencies/expand-1.jpg"></div>
                        <div class="agencies__image-container"><img class="agencies__image agencies__image--secondary image--cover" src="/images/agencies/expand-2.jpg"></div>
                        <div class="agencies__inner">
                            <h3 class="agencies__title">Expand Online</h3>
                            <p class="agencies__category">Data Driven Marketing</p>
                        </div>
                        <p class="agencies__description">We are a digital marketing agency combining advertising, SEO and data driven marketing to improve your marketing ROI.</p>
                        <p class="agencies__link">expandonline.nl</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-6">
                <a href="http://www.building-blocks.com/" target="_blank">
                    <div class="agencies">
                        <div class="agencies__image-container"><img class="agencies__image image--cover" src="/images/agencies/buildingblocks-1.jpg"></div>
                        <div class="agencies__image-container"><img class="agencies__image agencies__image--secondary image--cover" src="/images/agencies/buildingblocks-2.jpg"></div>
                        <div class="agencies__inner">
                            <h3 class="agencies__title">Building Blocks</h3>
                            <p class="agencies__category">Digital Craftsmanship</p>
                        </div>
                        <p class="agencies__description">We bring digital experiences to life, building complex websites and digital apps for global organisations.</p>
                        <p class="agencies__link">building-blocks.com</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>