<div class="our-work" data-section="work">
    <div class="container">
        <div class="grid-12">
            <div class="col-12">
                <h2>Our work</h2>
                <div class="slider__controls slider__controls--work">
                    <span class="slider__controls__button slider__controls__button--is-hidden js-prev" data-slider-controls="slider--work">
                        <svg class="svg-icons-arrow-left" width="28" height="9" viewBox="0 0 28 9" xmlns="http://www.w3.org/2000/svg">
                            <path d="M28 6.01H5v3.004L0 4.507 5 0v3.005h23z" fill="#000" fill-rule="evenodd" />
                        </svg>
                    </span>
                    <span class="slider__controls__button js-next" data-slider-controls="slider--work">
                        <span class="slider__controls__more">More</span>
                        <svg class="svg-icons-arrow-right" width="28" height="9" viewBox="0 0 28 9" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 3.004h23V0l5 4.507-5 4.507V6.009H0z" fill="#000" fill-rule="evenodd" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div class="slider slider--work js-slider" data-slider="slider--work">
            <a class="work__link" href="https://www.tamtam.nl/en/work/artsen-zonder-grenzen/" target="_blank">
                <div class="work" data-link="https://www.tamtam.nl/en/work/artsen-zonder-grenzen/" data-link-text="View project on tamtam.nl">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/azg.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Doctors without Borders</h3>
                        <p class="work__type">Brand Website.</p>
                        <p class="work__description">Doctors without Borders is one of the most well known non-profit brands in the world. When we were asked to create a new website for Doctors without Borders, we decided to focus on the organization’s unsung heroes: the people who work out in the field, often under dangerous circumstances. The amount of visitors willing to donate to the charity has doubled since the launch of the new website.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="https://www.tamtam.nl/en/work/walibi-holland/" target="_blank">
                <div class="work" data-link="https://www.tamtam.nl/en/work/walibi-holland/" data-link-text="View project on tamtam.nl">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/walibi.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Walibi</h3>
                        <p class="work__type">Platform.</p>
                        <p class="work__description">For youngsters with a need for speed, Walibi Holland is the place to be. Here you’ll find the highest, fastest and most thrilling rollercoasters of the Benelux. Adrenaline levels go sky high when you’re in the park, but ideally the adrenaline should start to flow the minute you visit the site. That’s why we decided to allow visitors to speed up on the website as well.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://afriendofmine.nl/project/the-other-room" target="_blank">
                <div class="work" data-link="http://afriendofmine.nl/project/the-other-room" data-link-text="View this project on a friend of mine">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/hk.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Harman Kardon</h3>
                        <p class="work__type">Activation.</p>
                        <p class="work__description">Harman Kardon is a famous brand of speakers and headphones. At the end of 2014 they launched their latest flagship – a multi-room audio system called Omni. To promote it amongst millenials, we made a cross-platform audio game.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://afriendofmine.nl/project/belangrijkste-boek" target="_blank">
                <div class="work" data-link="http://afriendofmine.nl/project/belangrijkste-boek" data-link-text="View this project on a friend of mine">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/kb.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Koninklijke Bibliotheek</h3>
                        <p class="work__type">Activation.</p>
                        <p class="work__description">What do you think is the most important book in world? The National Dutch Library is asking citizens to decide together in a contest that’s part of 2016 Year of the Book. We made a beautiful digital home to this contest that allows you to navigate the current selection and offer up your own opinion.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.expandonline.nl" target="_blank">
                <div class="work" data-link="http://www.expandonline.nl" data-link-text="View this project on Expand Online">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/md.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Marlies Dekkers</h3>
                        <p class="work__type">Digital Marketing.</p>
                        <p class="work__description">The partnership between Expand Online and Marlies Dekkers has been successful for the past four years. During these years, the lingerie brand experienced a relaunch and shifted its focus from offline retail to online. Our job is to provide advice, manage the online marketing activities and determine the strategy alongside Marlies Dekkers’ marketing team.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.expandonline.nl" target="_blank">
                <div class="work" data-link="http://www.expandonline.nl" data-link-text="View this project on Expand Online">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/tomtom.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">TomTom</h3>
                        <p class="work__type">Digital Marketing.</p>
                        <p class="work__description">When we started working for TomTom in 2014, the measurement was not clear, to say the least. That is why started off with optimising the online measurement and redesigning the existing SEA and programmatic display campaigns. Within one year, we eliminated a substantial amount of technical obstacles. As a result TomTom’s success became visible.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.expandonline.nl" target="_blank">
                <div class="work" data-link="http://www.expandonline.nl" data-link-text="View this project on Expand Online">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/vacanceselect.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">VacanceSelect</h3>
                        <p class="work__type">Digital Marketing.</p>
                        <p class="work__description">VacanceSelect is the place to be if you want to book a spot for your caravan or an accommodation on the more luxurious campsites and holiday parks in Europe. Through SEA, Facebook, YouTube and Retargeting campaigns, we delivered relevant traffic and more bookings from 10 different European markets.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.seconddegree.nl/" target="_blank">
                <div class="work" data-link="http://www.seconddegree.nl/" data-link-text="Go to Second Degree">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/microsoft.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Microsoft</h3>
                        <p class="work__type">Content Marketing.</p>
                        <p class="work__description">Second Degree is one of the agencies of record of Microsoft Nederland since December 2013. As a content partner we create, plan and monitor the performance of (B2B) content for specific departments of Microsoft Nederland (SMB, EPG, DX). Second Degree creates various types of content for Microsoft, such as LinkedIn posts, blogs, longreads and video. In 2016, Microsoft Nederland is one of the top-brands on LinkedIn in the Netherlands.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.seconddegree.nl/" target="_blank">
                <div class="work" data-link="http://www.seconddegree.nl/" data-link-text="Go to Second Degree">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/philips.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Philips</h3>
                        <p class="work__type">Content Marketing.</p>
                        <p class="work__description">Philips Benelux is all about innovation. And innovation is one of the key ingredients of our partnership with Philips Benelux since 2014. Together we’ve created one of the first (and most successful) showcase pages in the Netherlands ‘Philips, innovation and you’. In 2015 we’ve co-created a pilot lead generation campaign for the Lighting-division (Green Warehouse). This campaign tactic was successful and resulted in 4 more ‘leadgen’ campaigns in the fall. In 2016, Philips Benelux remains one of the top-brands on LinkedIn in the Netherlands.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="http://www.seconddegree.nl/" target="_blank">
                <div class="work" data-link="http://www.seconddegree.nl/" data-link-text="Go to Second Degree">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/ziggo.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Ziggo</h3>
                        <p class="work__type">Content Marketing.</p>
                        <p class="work__description">Ziggo wants to be a partner for all entrepreneurs which resulted in the creation of a showcase page on LinkedIn for Entrepreneurs in the spring of 2015. Second Degree was asked to particpate as a content partner, alongside LinkedIn, BNR (ZZP Café) and ZZP Barometer, to increase the performance on LinkedIn. Second Degree creates various types of content for Ziggo, such as LinkedIn posts, blogs and promotions. In 2016, Ziggo is one of the top-brands on LinkedIn in the Netherlands.</p>
                    </div>
                </div>
            </a>
            <a class="work__link" href="https://www.tamtam.nl/en/work/arcadis/" target="_blank">
                <div class="work" data-link="https://www.tamtam.nl/en/work/arcadis/" data-link-text="View project on tamtam.nl">
                    <div class="work__image-container"><img class="work__image image--cover" src="/images/work/arcadis.jpg"></div>
                    <div class="work__content">
                        <h3 class="work__title">Arcadis</h3>
                        <p class="work__type">B2B Platform.</p>
                        <p class="work__description">Arcadis is a design and consultancy firm with 28,000 employees worldwide, with expertise in the natural and built assets sector. TamTam created the renewed brand’s global website which went live in over 30 countries and 10 different languages. This is the story of a B2B website which focuses on smart content marketing.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="work__cta">
            <a class="work__cta__link" href="https://www.tamtam.nl/en/work/artsen-zonder-grenzen/" target="_blank">
                <span class="work__cta__link__text">View project on tamtam.nl</span>
                <svg class="svg-icons-arrow-outbound" width="28" height="9" viewBox="0 0 28 9" xmlns="http://www.w3.org/2000/svg">
                    <g fill="#000" fill-rule="evenodd">
                        <path d="M6.01 6.036H23v3.005l5-4.507-5-4.507V3.03H6.01zM0 3.032h3.005v3.005H0z" />
                    </g>
                </svg>
            </a>
        </div>
        <div class="slider__controls slider__controls--work-secondary">
            <span class="slider__controls__button slider__controls__button--is-hidden js-prev" data-slider-controls="slider--work">
                <svg class="svg-icons-arrow-left" width="28" height="9" viewBox="0 0 28 9" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28 6.01H5v3.004L0 4.507 5 0v3.005h23z" fill="#000" fill-rule="evenodd" />
                </svg>
            </span>
            <span class="slider__controls__button js-next" data-slider-controls="slider--work">
                <span class="slider__controls__more">More</span>
                <svg class="svg-icons-arrow-right" width="28" height="9" viewBox="0 0 28 9" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 3.004h23V0l5 4.507-5 4.507V6.009H0z" fill="#000" fill-rule="evenodd" />
                </svg>
            </span>
        </div>
    </div>
</div>