.accordion {
  &__trigger {
    border-bottom: 1px solid $accordion-border;
    padding: 20px 20px;
    cursor: pointer;
    user-select: none;

    @media #{ $screen-medium-and-up } {
      padding: 20px 40px;
    }
  }

  &__content {
    display: none;
    padding: 20px;

    @media #{ $screen-medium-and-up } {
      padding: 40px;
    }
  }
}