.office {
  &__title {
    font-size: 2.4rem;
    font-family: $font-stack-primary;
    color: $color-white;

    .is-active &,
    .accordion__trigger:hover & {
      text-decoration: underline;
    }
  }

  &__sub-title {
    color: $color-office-text;
    margin: 4px 0;
  }

  &__address {
    color: $color-office-text;
    font-size: 1.4rem;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__city {
    text-transform: uppercase;
    color: $color-white;
    font-size: 1rem;
    margin: 0 0 5px;
  }

  &__phone {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
