$link-transition-time: 200ms;
$link-transition-ease: $ease-in-out-quad;

// most basic link style
%link-base {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	text-overflow: ellipsis;
}

a {
	@extend %link-base;
}


//%link,
//.link {
//
//	color: $color-primary;
//	padding-bottom: 1px;
//	border-bottom: 2px solid transparent;
//	transition: border-bottom-color $link-transition-time $link-transition-ease;
//
//	&:hover, &:focus {
//		border-bottom-color: $color-primary;
//	}
//
//	&:active {
//		border-bottom-color: darken($color-primary, 10%);
//	}
//
//}
//
//
//.link--underline {
//
//	// This extend is a shortcut so you don't need the base class when applying this style.
//	// So instead of <a class="link link--underline">
//	// you can just do: <a class="link--underline">
//	@extend %link;
//
//	border-bottom-color: $color-primary;
//
//}

