<footer class="footer" data-section="contact">
    <div class="container">
        <div class="grid-12">
            <div class="col-12 col-md-6">
                <div class="footer__contact">
                    <div class="footer__inner">
                        <h3 class="footer__title">Let's talk</h3>
                        {% include 'modules/headquarter.html' %}
                        {% include 'modules/socials.html' %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="footer__offices">
                    <div class="footer__inner">
                        <h3 class="footer__title">Our agencies</h3>
                    </div>
                    {% include 'modules/agency-accordion.html' %}
                </div>
            </div>
        </div>
    </div>
</footer>
